@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.bg-image {
    width: 100%;
    height: auto;
}

.am-container {
    display: flex;
    align-items: center;
    /* text-align: center; */
    background-color: #D7DFD6;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 60px;
}

.am-column1 {
    display: inline-block;
    width: 35%;
    margin-right: 5%;
    /* margin: 60px */
}

.am-column2 {
    display: inline-block;
    width: 60%;
}

.sub-title {
    font-family: Montserrat, -apple-system, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
}

.typewriter {
    font-family: Montserrat, -apple-system, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 30px;
    font-weight: bold;
    color:#006400; 
}

.main-title {
    font-family: Montserrat, -apple-system, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 30px;
}

.prof{
    width: 300px;
    background-color: black;
    color: #D7DFD6;
    text-decoration: none;
    padding: 10px;
}

.about-cont{
    display: flex;
    align-items: center;
    text-align: center; 
    justify-content: center;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.am-img1 {
    width: 200px;
    height: auto;
}

.am-text-cont {
    width: 400px;
    text-align: justify;
    padding-right: 50px;
}

.am-text {
    line-height: 25px;
}

.edu-cont {
    align-items: center;
    background-color:#D7DFD6;
    padding: 60px 10vw 60px 10vw;
}

.edu-container {
    display: flex;
}

.edu-column1 {
    display: inline-block;
    width: calc(50vw - 5vw);
    margin-right: 10vw;
}

.edu-column2 {
    display: inline-block;
    width: calc(50vw - 5vw);
}

.edu-school {
    font-weight: bold;
}

 