@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;

}

.cont{
  display: flex;
  align-items: center;
  text-align: center;
  position: fixed;
  height: 80px;
  /* background-color: transparent; */
  background-color: #D7DFD6;
  z-index: 2;
  
}

.scrolled .cont {
  box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
  
}

.nav-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: calc(100vw - 160px);
}

.nav {
  text-decoration: none;
  justify-content: center;
  padding: 20px 0 20px 0;
  color: #2b2b2b;
}

.nav img {
  padding-left: 50px;
}

.nav-cont .nav {
  padding: 0 15px 0 15px;
}

.nav.active {
  color: #006400;
  font-weight: bold;
}

.header {
  font-family: Montserrat, -apple-system, Roboto, Helvetica Neue, sans-serif !important;
  color: #006400;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
}

.header1 {
  font-size: 20px;
  font-weight: bold;
}
